#jumbotron {
    width: 100%;
    overflow: hidden;
    height: 300px;
    text-align: center;
    color: black;
    font-family: 'Press Start 2P', cursive;
    background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/0kjHIH6/animation-of-1980s-old-arcade-super-mario-bros-clouds-background_vywb1uvex__F0000.png");
    background-size: 100% 100%;
}

h1 {
    margin: 70px 0 10px;
    font-size: 350%;
}

h3 {
    font-size: 120%;
    color: white;
    margin-top: 35px;
   
    
}

#win {
    margin-top: 20px;
}